html {
  scroll-behavior: smooth;
  text-align: center;
  font-family: "Poppins", sans-serif;
}


body {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center
}


/* Wide screens - row of images */
@media screen and (min-width: 1024px) {

  div {
    display: flex;
    flex-direction: row;
  }

  section {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
  }

  section img {
    width: 100%;
    height: auto;

  }
}

/* Medium screens - stacked sections */
@media screen and (max-width: 1023px) and (min-width: 768px) {

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }

  section img {
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
}

/* Small screens - stacked sections */
@media screen and (max-width: 767px) {

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }

  section img {
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
}
