html {
  scroll-behavior: smooth;
  text-align: center;
  font-family: "Poppins", sans-serif;
}


body {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center
}

/* CSS */
button {
  appearance: none;
  background-color: #2ea44f;
  border: .15rem solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1.5em;
  font-weight: 600;
  line-height: 20px;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* Wide screens - row of images */
@media screen and (min-width: 1024px) {

  div {
    display: flex;
    flex-direction: row;
  }

  section {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    padding: 20px;
    box-sizing: border-box;
  }

  section img {
    width: 100%;
    height: auto;

  }
}

/* Medium screens - stacked sections */
@media screen and (max-width: 1023px) and (min-width: 768px) {

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }

  section img {
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
}

/* Small screens - stacked sections */
@media screen and (max-width: 767px) {

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
  }

  section img {
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
  }
}
